<h1>Products!</h1>

<% @products.each do |product| %>
<h3> <%= link_to product.name, product_path(product) %> </h3>
<h5>Price<%= number_to_currency product.price %></h5>
<% end %>
<%= link_to "cart", cart_path %>
